Content-Type: multipart/mixed; boundary="==BOUNDARY=="
MIME-Version: 1.0

--==BOUNDARY==
Content-Type: text/cloud-boothook; charset="us-ascii"

# Set Docker daemon options
cloud-init-per once docker_options echo 'OPTIONS="${OPTIONS} --storage-opt dm.basesize=20G"' >> /etc/sysconfig/docker

--==BOUNDARY==
Content-Type: text/x-shellscript; charset="us-ascii"

# set ECS agent configuration options
cat << EOF > /etc/ecs/ecs.config
ECS_CLUSTER=LabcasCluster
ECS_INSTANCE_ATTRIBUTES={"oodt_type": "oodt_worker"}
EOF

# mount the EFS file system
# must also restart docker and docker agent for the file system to become available to docker containers
sudo yum install -y nfs-utils
sudo stop ecs
sudo mkdir -p /labcas_data
sudo chmod 777 /labcas_data
sudo chown ec2-user:ec2-user /labcas_data
sudo echo "fs-2ca17785.efs.us-west-2.amazonaws.com:/ /labcas_data nfs4 nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 0 0" >> /etc/fstab
sudo mount -a -t nfs4
sudo service docker restart
sudo start ecs

# join the swarm
# TODO: change the worker token and swarm manager IP to the current values
sleep 5
docker swarm join \
    --token SWMTKN-1-4lrqw1eiq8euplgfqwkki1yrdjovvi8nt13ipcn1wwv61idqol-8tj74207tg934nbjl9gvlbjal \
    172.20.2.81:2377

--==BOUNDARY==--
